%article#page--top
  .row
    %section.user-space.col-3
    %section.post-space.col-6
      - if user_signed_in?
        = render 'top_pages/micropost', post: @micropost
        %hr
        .post-list
          - @posts.each do |post|
            = render 'microposts/micropost', post: post, follows: @follow_users
      - else
    %section.recommend.col-3
